/*height 100%*/
html, body {height:100%;}
.bloco {min-height: 100%; padding-top: 94px;}

/* logo */
.logo_text{font-size: 0; margin: 0;}
.logo_img{width:100px; margin-top: 15px;}

/* COLORS */
.blue-logo{background-color: #2dc7d0;}

/* Menu */
.navbar{background-color: transparent;transition: 1s linear;}
.navbar ul a:hover{background-color: transparent; color:#2dc7d0}
.nav-color{background-color:rgba(0,0,0,0.7); transition: 1s linear;}
/* Home */
.home {animation: mudarbg 20s infinite; background-image: url('../img/bg.jpg'); background-repeat: no-repeat; background-size: cover;}
.banner h2 {font-size: 2.5rem; font-weight: 900; text-transform: uppercase;}
.banner p {font-size: 1.2rem; line-height: 1.8rem;}

/* Sobre */
.sobre{background-image: url(../img/textura1.png);}
.sobre h2{font-size: 2rem; color: #212121; text-transform: uppercase;}
.sobre h2::after{content: ''; display: block; width: 100px; border-top: 1px solid #2dc7d0; margin: 15px auto; }
.sobre p{line-height: 1.8rem; text-align: justify;}
.sobre .missao-visao-valores {padding: 20px 0; margin-top: 35px;}
.sobre .missao-visao-valores .icon{color:#fff;}
.sobre .missao-visao-valores h3{font-size:1.5rem; font-weight: 300; text-transform: uppercase; color: #fff;}
.sobre .missao-visao-valores p{color:#fff; letter-spacing: 1px;}

/* Serviços */
.servicos{background-image: url(../img/textura2.png)}
.servicos h2{font-size: 2rem; color: #fff; text-transform: uppercase;}
.servicos h2::after{content: ''; display: block; width: 100px; border-top: 1px solid #2dc7d0; margin: 15px auto; }
.servicos p{color:#fff; line-height: 1.8rem}
/*Home - Animation */
@keyframes mudarbg {
    40% {background-image: url('../img/bg2.jpg');}
    80% {background-image: url('../img/bg3.jpg');}
    100% {background-image: url('../img/bg.jpg');}
}

/* Custom nav */
nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 94px;
    line-height: 94px;
  }
  nav.nav-extended .nav-wrapper {
    min-height: 94px;
  }
  .navbar-fixed {
    position: absolute;
    height: 94px;
  }
  nav i,
  nav [class^="mdi-"], nav [class*="mdi-"],
  nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 94px;
    line-height: 94px;
  }
  .side-nav{background-image: url(../img/prism.png); width: 50%;}
  .side-nav li>a{color:#fff; font-weight:100; }

/* Media */
@media only screen and (min-width: 601px) {
.banner{padding-top: 4.5rem;}
    .banner h2 {font-size: 4rem;}
    .container{width: 85%;}
}
  
@media only screen and (min-width: 993px) {
    .banner{padding-top: 5rem;}
.banner h2 {font-size: 5em;}
.container {width: 90%}
}

@media only screen and (max-width: 480px) {

}
